
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
body {
    font-family: "Arial, Helvetica, sans-serif";
    margin: 0;
    padding: 0;
    background-color: #09d066;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.contact-section,
.testimonial-section {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 1%;
}

.contact-section h2,
.testimonial-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.contact-section button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.testimonial {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.testimonial img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.testimonial h3 {
    margin: 0;
    font-size: 18px;
}

.testimonial p {
    font-size: 14px;
}

.appointment-section {
    text-align: center;
    margin: 40px 0;
   
}

.appointment-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Arial, Helvetica, sans-serif";
}

.appointment-section button {
    background-color: #303137;
    color: white;
    padding: 10px 20px;
    border: none;
    float: right;
    height: 80px;
    width: 400px;
    font-size: 20px;
    margin-top: -100px;
    margin-right: 150px;
}
.appointment-section p{
    font-size: 30px;
    color: #303137;
    font-family: "Arial, Helvetica, sans-serif";
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer .column {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 1%;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}
nav {
    width: 100%;
    height: 136px;
    background-color: #303137;
  }
  
  li,
  a {
    display: inline;
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: 70;
    padding: 45px;
  }
  
  li,
  p {
    font-size: 20px;
    line-height: 56px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
  }
  
  
  .backgroud img {
    width: 1115px;
    height: 978px;
  }
  .logo img{
  position: absolute;
    right: 950px;
  
  }
  .backgroud p{
    font-size: 60px;
  line-height: 76px;
  color: #c20000;
  font-weight: 400;
  font-family: "Righteous";
  }